@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar>.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .navbar,
  .navbar>.container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
}

@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  /*
   |-----------------------------------
   | Start navbar logo or brand etc..
   |-----------------------------------
   */
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navbar .navbar-header>a {
  font-weight: 500;
  color: #3c4250;
  /*
   |-----------------------------------
   | Start navbar menu
   |-----------------------------------
   */
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}

.navbar .navbar-menu .navbar-nav>li>a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav>li>a:hover {
  color: #66f;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav>li>a {
    border-bottom: 1px solid #eceef3;
  }
}

.navbar .navbar-menu .navbar-nav>li.active a {
  color: #66f;
}

.navbar .navbar-header>a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

/* header{
  width: 100%;
  height: 100px;
  background-image: url("header_img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */
.image {
  background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-title {
  position: absolute;
  top: 7rem;
  left: 3rem;
  letter-spacing: 3;
  font-weight: bolder;
  font-size: 52px;
  color: #eceef3;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.header-title>span {
  /* color: var(--primaryColor); */
  color: #66f;
}

.search-wrapper {
  width: 60%;
  margin: auto;
  min-width: 300px;
  height: 3.5rem;
  position: relative;
}

.search-box {
  width: 100%;
  position: absolute;
  background-color: lightgray;
  box-shadow: rgba(2, 11, 20, 0.2);
  top: -45%;
  height: 100%;
  width: 100%;
}

.search-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}

.search-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0.5rem;

}

.search-button {
  width: 200px;
  background: #eceef3;
  border: none;
  color: #66f;
  cursor: pointer;
}

.filter-box {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  width: 60%;
  min-width: 300px;
  margin: auto;
}

.filter-dropdown {
  width: 100%;
  border-bottom: 1px solid #66f;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.filter-select {
  border: none;
  padding: 0.2rem;
}

.filter-select:hover {
  background: #eceef3;
}

.filter-chosen {
  width: 100%;
  padding: 0.3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.chosen-card {
  background: #66f;
  padding: 00.2rem 0.5rem;
  border-radius: 20px;
  color: #eceef3;
  cursor: pointer;
}

.job-list {
  margin: 5%;
  padding: 1rem;
  background-color: rgb(254, 251, 251);
}

.job-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  min-height: 100px;
  align-items: center;
  background-color: #eceef3;
  box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}

.job-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1)0px 4px 12px;
}

.job-name {
  display: flex;
}

.job-profile {
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}

.job-detail {
  padding: 0 10px;
}

.job-detail>h4 {
  color: #66f;
  font-size: 0.9rem;
}

.job-detail>p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.job-level>a {
  padding: 0 1rem;
  margin: 0.2rem;
  color: #eceef3;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.8rem;
}

.label-a {
  background-color: lightcoral;
}

.label-b {
  background-color: #66f;
}

.label-c {
  background-color: black;
}

.job-posted {
  font-size: 0.8rem;
}

.job-more {
  display: block;
  padding: 0.3rem 2rem;
  margin: 20px auto;
  width: 250px;
  background-color: transparent;
  color: #66f;
  border: 1px solid #66f;
  border-radius: 20px;
  cursor: pointer;
}

.job-more:hover {
  background-color: #66f;
  color: #eceef3;
}

.join {
  width: 100%;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1543196614-e046c7d3d82e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1341&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eceef3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
}

.join::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(100deg, rgba0, 85, 177, 0.6)0%, rgba(0, 122, 255, 0.5)100%, linear-gradient(180deg, rgba(0, 122, 255, 0.65)0%, transparent 100%);
}

.join-detail>h1 {
  font-size: 36px;
  letter-spacing: 2;
}

.join-button {
  width: 200px;
  padding: 1rem;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
  z-index: 2;
  cursor: pointer;
}

.join-button:hover {
  background: transparent;
  border: 2px solid yellow;
  color: yellow;
}

.featured {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5rem 1rem;
  background-color: lightgray;
}

.section-title {
  margin-bottom: 0.5rem;
  letter-spacing: 1.5;
  font-size: 36px;
}

.featured-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 2% 10%;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #eceef3;
  box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}

.featured-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.featured-image {
  height: 30px;
  margin-bottom: 0.2rem;
}

.featured-button {
  border: 1px solid #66f;
  background-color: transparent;
  margin-top: 0.5rem;
  padding: 3px 10px;
  cursor: pointer;
  color: #66f;
}

.featured-button:hover {
  background-color: #66f;
  color: #eceef3;
}

/* .testimonal */

/* root variables */
:root {
  /* color styles */
  --clr--m-v: 263, 55%, 52%;
  --clr-v-d-g-b: 217, 19%, 35%;
  --clr-v-d-b-b: 219, 29%, 14%;
  --clr-white: 0, 0%, 100%;
  /* Neutral colors */
  --clr-l-g: 0, 0%, 81%;
  --clr-l-g-b: 210, 46%, 95%;

}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 0.8125rem;
  line-height: 1.6;
  background-color: hsl(var(--clr-l-g-b));
}



.Testicontainer {
  max-width: 90em;
  margin: 100px auto;
}



/* utilities */
.flex {
  display: flex;
  align-items: center;
}

.flex * {
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

/* general  */

hgroup {
  margin-left: 1em;
}

.testimonal-card {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-v-d-g-b));
  border-radius: 10px;
  padding: 3em;
  margin-top: 0;

}

.testimonal-card:first-child {
  background-color: hsl(var(--clr--m-v));
  background-image: url(https://raw.githubusercontent.com/olisa187/Frontend-Mentor-Testimonials/d79bf76e3552f6631920b60555155b0d9e03668a/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 100px top 20px;
  color: hsl(var(--clr-white));

  /* style to control the postioning of this card */
  grid-column: 1/3;

}

.testimonal-card:nth-child(4) img,
.testimonal-card:first-child img {
  border: 3px solid #5f4697;
}

.testimonal-card:nth-child(2) {
  background-color: hsl(var(--clr-v-d-g-b));
  color: hsl(var(--clr-white));
}

.testimonal-card:nth-child(4) {
  background-color: hsl(var(--clr-v-d-b-b));
  color: hsl(var(--clr-white));

  /* style to control the postioning of this card */
  grid-column: 2/4;

}

.testimonal-card:nth-child(5) {
  /* style to control the postioning of this card */
  grid-column: 4;
  grid-row: 1 / 3;
}

.testimonal-card img {
  border-radius: 50%;
}

h4,
.clr-opacity {
  opacity: .5;
}

.attribution {
  /* this class acts like a footer */
  text-align: center;
  margin: 20px;
}

.attribution a {
  text-decoration: none;
}

/* mobile veiw of max-width 375px == 23.4375em, 750 = 46.875em */
@media (max-width: 23.4375em) {
  .grid {
    display: flex;
    flex-direction: column;

    padding: 20px;
  }


  .grid>* {
    margin-top: 20px;
  }

  .testimonal-card:first-child {
    background-position: right 10px top 10px;
  }
}
/* 
#news-slider {
  margin-top: 80px;
}

.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
  transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}

.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}

.post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}

.post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}

.post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #CFDACE;
}

.post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}

.post-slide .read-more:hover {
  background: #3498db;
  text-decoration: none;
  color: #fff;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}

@media only screen and (max-width:1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
} */

#contact {
  text-align: center;
  color: black;
  background-color: #66f;
  font-size: 5mm;
}

#contact .sendmail {
  color: black;
}

.sm a {
  color: black;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover {
  color: white;
}

.sm .fa-facebook:hover {
  color: white;
}

.sm .fa-twitter:hover {

  color: white;
}

.sm .fa-youtube:hover {

  color: white;
}

.sm .fa-instagram:hover {

  color: white;
}

.sm .sendmail:hover {
  color: white;
}

footer {
  background: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  color: black;
  padding: 80px 0;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  /* width: 8; */
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a {
  font-size: 16px;
  color: #66f;
  font-weight: 500;
}