
.image {
    background-color: #eceef3;
    background: url(https://images.pexels.com/photos/6585012/pexels-photo-6585012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
  }
  .image .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
  }
  .image p {
    text-align: center;
    padding: 20px 60px;
  }
  .image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
  }
  .image p .btn:hover {
    color: #66f;
    border-color: #66f;
  }
  .image .heading #formlink{
    color: #66f;
  }
  .navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  .navbar-default .navbar-brand {
    margin-top: 10px;
    color: white;
  }
  .navbar-default .navbar-brand:hover {
    color: #66f;
    border: 1px solid #66f;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
    margin: 10px 5px 5px 5px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #66f;
    border: 1px solid #66f;
  }
  .navbar-default .navbar-nav > li > a:visited {
    color: white;
    text-decoration: none;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #66f;
  }
  .navbar-default .navbar-toggle {
    border-color: #eceef3;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #eceef3; 
    /* do  */
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: #66f;
    background-color: #66f;
  }
  .navbar-default .navbar-collapse.collapse.in ul {
    background-color: #eceef3;
  }
  /* Solid class attached on scroll past first section */
  .navbar.solid {
    background-color: #eceef3;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  }
  .navbar.solid .navbar-brand {
    color: #66f;
    transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
    color: #66f;
    transition: color 1s ease 0s;
  }
  .about {
    /* background-color: #66f; */
    color: black;
    height: 600px;
    text-align: center;
    margin-top: -20px;
  }
  .about h2 {
    padding-top: 220px;
  }
  .about p {
    padding: 20px 80px;
  }
  h1{
    font-size:25px;
    text-align: left;
    text-transform:capitalize;
}
.service-box{
   position: relative;
   overflow: hidden;
   margin-bottom:10px;
   perspective:1000px;
   -webkit-perspective:1000px;
}
.service-icon{
   width: 100%;
   height: 220px;
   padding: 20px;
   text-align: center;
   transition: all .5s ease;
}

.service-content{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   opacity: 0;
   width: 100%;
   height: 220px;
   padding: 20px;
   text-align: center;
   transition: all .5s ease;
   background-color: #474747;
   backface-visibility:hidden;
   transform-style: preserve-3d;
   -webkit-transform: translateY(110px) rotateX(-90deg);
   -moz-transform: translateY(110px) rotateX(-90deg);
   -ms-transform: translateY(110px) rotateX(-90deg);
   -o-transform: translateY(110px) rotateX(-90deg);
   transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
   position: relative;
   top:80px;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
   font-size: 28px;
   color: #fff;
   font-weight: normal;
}

.service-box .service-icon .front-content h3 {
   font-size: 15px;
   color: #fff;
   text-align: center;
   margin-bottom: 15px;
   text-transform: uppercase;
}
.service-box .service-content h3 {
   font-size: 15px;
   font-weight: 700;
   color: #fff;
   margin-bottom:10px;
   text-transform: uppercase;
}
.service-box .service-content p {
   font-size: 13px;
   color: #b1b1b1;
   margin:0;
}
.yellow{background-color: #ffc000;}
.orange{background-color: #fc7f0c;}
.red{background-color: #e84b3a;}
.grey{background-color: #474747;}
.service-box:hover .service-icon{
   opacity: 0;
   -webkit-transform: translateY(-110px) rotateX(90deg);
   -moz-transform: translateY(-110px) rotateX(90deg);
   -ms-transform: translateY(-110px) rotateX(90deg);
   -o-transform: translateY(-110px) rotateX(90deg);
   transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
   opacity: 1;
   -webkit-transform: rotateX(0);
   -moz-transform: rotateX(0);
   -ms-transform: rotateX(0);
   -o-transform: rotateX(0);
   transform: rotateX(0);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:wght@400;500&display=swap');
@import url("https://use.typekit.net/zsg3meh.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
  font-family: bal;
  src: url(/font/Balqis.ttf);
}
@font-face {
  font-family: youth;
  src: url(/font/YouthLinePersonalUse-GOy0O.ttf);
}
@font-face {
  font-family: gvibes;
  src: url(/font/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: ariz;
  src: url(/font/Hunters.otf);
}
#testimonials {
  padding: 2em 5em;
  position: relative;
  /* background: #fef7f5; */
  display: -ms-grid;
  display: grid;
  height: auto;
}
#testimonials .test-titles {
  text-align: center;
  color: #66f;
  padding: 2em 0;
  position: relative;
  z-index: 2;
}
#testimonials .test-titles h3 {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 1em;
  color: #66f;
  text-transform: uppercase;
}
#testimonials .test-titles h2 {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.7em;
  margin: 0.4em 0;
}
#testimonials .test-titles p {
  font-family: "Josefin Sans", sans-serif;
  color: #7b7b7a;
  font-weight: 300;
}
#testimonials .test-cards {
  position: relative;
  overflow: hidden;
}
#testimonials .test-cards .test-card-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  justify-items: flex-start;
  gap: 1em;
}
#testimonials .test-cards .test-card-row .test-card {
  background: #ffffffe8;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  position: relative;
  left: 0 !important;
  top: 0;
  width: 25%;
  height: auto;
  gap: 1.5em;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 2;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#testimonials .test-cards .test-card-row .test-card #left-quote-container {
  width: 20%;
  -ms-grid-column-align: center;
  justify-self: center;
  fill: #66f;
}
#testimonials .test-cards .test-card-row .test-card p {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #7e7c7a;
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
}
#testimonials .test-cards .test-card-row .test-card h3 {
  margin: 0;
  font-family: youth;
  -ms-grid-column-align: center;
  justify-self: center;
  color: #66f;
  position: relative;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1.5px;
}
#testimonials .test-cards .slider-track-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 30%;
  margin: 0 auto;
  padding: 2em 0 0 0;
  position: relative;
  z-index: 2;
}
#testimonials .test-cards .slider-track-nav .slider_btn {
  z-index: 1;
  background: transparent;
  outline: none;
  border: none;
  color: #3c3834;
  font-size: 1em;
  font-weight: lighter;
  -webkit-transition: background 500ms ease, color 500ms ease;
  transition: background 500ms ease, color 500ms ease;
  padding: 0.5em;
}
#testimonials .test-cards .slider-track-nav .slider_btn:hover {
  background: #66f;
  color: #F6F6ED;
}
#testimonials .test-cards .slider-track-nav .t-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  gap: 0.4em;
  margin: 0 auto;
}
#testimonials .test-cards .slider-track-nav .t-slider-nav .slider_indicator {
  border: none;
  cursor: pointer;
  background: transparent;
  color: #00000032;
  font-size: 0.65em;
}
#testimonials .test-cards .slider-track-nav .t-slider-nav .slider_indicator.t-current-slide {
  color: #3c3834 !important;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 40px;
	bottom: -10px;
	background-color:#66f;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
/* .footer-col ul li a:hover{
	color: #66f;
} */
.footer-col ul li a:hover{
	color:#66f;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}






  