@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

html {
  background: linear-gradient(#ccc, #66f);
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 32px 0px;
  padding-bottom: 128px;
}

/********************  Loading Page ************************/
.loadFont {
  font-family: 'Poiret One', cursive;
}


/* Progress Bar Placement & Styling */
#progressive {
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
.progress {
  position: relative;
  height: 10px;
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}


.progress-bar {
  float: left;
  height: 100%;
  background-color: #b71c1c;
  -webkit-transition: width 5s ease;
  -o-transition: width 5s ease;
  transition: width 5s ease;
}


#side1 { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
#side2 { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }
#side3 { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }

body,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

form {
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.form__header {
  padding: 32px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.form__header h1 {
  font-size: 1.5rem;
  margin-bottom: 8px
}

.form__header p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

form h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

form h3 {
  box-sizing: border-box;
  border-left: 3px solid transparent;
  margin-top: 24px;
  padding: 0px 32px;
  width: 100%;
  font-size: 1.10rem;
  text-align: left;
}

.form-group {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
}

.form-group:hover {
  border-left: 3px solid #66f;
}

.form-date-group {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
}

.form-date-group:hover {
  border-left: 3px solid #66f;
}

.form-date-group .form-group {
  padding: 0px;
}

.form-date-group .form-group:hover {
  border-left: 3px solid transparent;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: block;
}

.form-group label span {
  color: red;
}

form .line-break {
  width: 100%;
  height: 1px;
  margin: 16px auto;
  border-bottom: 1px solid #eee;
}

input[type=text]::placeholder,
input[type=date]::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=date],
textarea {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 0.2s border;
  width: 100%;
  font-size: 1rem;
}

textarea {
  max-width: 533px;
}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus {
  outline: none;
  border-color:#66f;
}

input[type=submit] {
  background: #66f;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.3px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.00), 0 1px 2px rgba(0, 0, 0, 0.00);
}

input[type=submit]:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  background: #66f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

input[type=submit]:active {
  background: #66f;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.00), 0 1px 2px rgba(0, 0, 0, 0.00);

}

.error__input {
  border-color: red !important;
}

.error {
  color: red;
}