/* 40-57 */
.container .title {
    /* border: 1px dashed pink; */
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #9b59b6;
    left: 1px;
    bottom: 1px;

}

/* 59-66 */
.container form .user-details {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 5px 0;
}

/* 68-88 */
.container form .input-box {
    display: inline-block;
    /* border: 1px solid red; */
    width: calc(100%/2 - 20px);
    margin-bottom: 15px;
    margin-left: 17px;
}

.container  .input-box input {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
    transition: all 0.3s ease-in-out;


}

/* 96-100 */
.container  .input-box span {
    font-weight: 500;
    margin: 0 0 5px 2px;
    display: block;
}

/* 203-214 */
.title {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.sub-title {
    font-size: 1em;
    font-weight: 400;
    color: gray;
    line-height: 1em;
}

/* 387-393 */
.section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
